language: java

jdk:
  - openjdk7
  - oraclejdk8

sudo: false

after_success:
  - ./gradlew bintrayUpload
  - bash <(curl -s https://codecov.io/bash)

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
